# dependencies
node_modules/

# dotenv environment variable files
.env

# secrets and credentials
secrets/
*.json

# logs
logs/
*.log

# system files
.DS_Store
Thumbs.db

# OS crash dumps, etc.
*.pid
